name: Build

on:
  release:
    types: [published]
jobs:
  build-web:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.16.0'
        channel: 'stable'
    
    - name: Install dependencies
      run: flutter pub get
    
    - name: Build Web
      run: flutter build web --release
    
    - name: Upload Web Build
      uses: actions/upload-artifact@v3
      with:
        name: web-build
        path: build/web/
  
  build-linux:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.38.5'
        channel: 'stable'
    
    - name: Install dependencies
      run: flutter pub get
    
    - name: Enable Linux desktop
      run: flutter config --enable-linux-desktop
    
    - name: Build Linux
      run: flutter build linux --release
    
    - name: Upload Linux Build
      uses: actions/upload-artifact@v3
      with:
        name: linux-build
        path: build/linux/
